Source: n2kd
Section: misc
Priority: optional
Maintainer: EngSaS - Joachim Langenbach <info@engsas.de>
Build-Depends: debhelper (>= 9), xsltproc
Standards-Version: 3.9.6
Homepage: https://github.com/canboat/canboat
#Vcs-Git: https://github.com/canboat/canboat.git
#Vcs-Browser: https://github.com/canboat/canboat

Package: n2kd-bin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, n2kd-config
Recommends: n2kd-scripts
Description: canboat binary applicaions
 Provides n2kd, actisense-seral, nmea0183-serial, analyzer, candump2analyzer,
 command-group-function, iptee, request-group-function, socketcan-writer

Package: n2kd-config
Architecture: all
Description: Provides the n2kd default config file
 Delivers the default n2kd config file

Package: n2kd-scripts
Architecture: all
Depends: n2kd-config, n2kd-bin
Description: canboat perl applications
 Provides list-product-information, n2kd_monitor, n2kd_nmea_monitor
