
body
{
  font-family: 'Noto Sans', sans-serif;
}

.xs
{
  font-size: x-small;
}

table
{
    border-collapse: collapse;
    border:1px solid #69899F;
}

table td
{
    border:1px dotted #000000;
    padding:5px;
}

table td .repeating
{
    border:  3px dotted #000000;
    padding: 3px;
    background-color: #777777;
}

.repeating
{
    font-style: italic;
}

.repeatmarker
{
    border-top: 3px solid #000000;
}

table td:first-child
{
    border-left:0px solid #000000;
}

table th
{
   border:2px solid #69899F;
   padding:5px;
}

/* The side navigation menu */
.sidenav {
  height: 100%; 
  width: 100px;
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: small;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #00f000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

/* The side navigation menu */
#sidenav-closed {
  height: 35px;
  padding-top: 10px;
  width: 0px;
}

#sidenav-closed a {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

#hamburger span {
  display: block;
  margin: 4px;
  height: 3px;
  width: 20px;
  background: white;
  border-radius: 1px;
}

#main {
  transition: margin-left .5s;
  padding-left: 10px;
  padding-top: 10px;
  margin-left: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
