
body
{
  font-family: 'Noto Sans', sans-serif;
}

table {
    border-collapse: collapse;
    border:1px solid #69899F;
}
table td{
    border:1px dotted #000000;
    padding:5px;
}
table td:first-child{
    border-left:0px solid #000000;
}
table th{
   border:2px solid #69899F;
   padding:5px;
}
